# ==========================================
# 1. Dependencies (Thư viện)
# ==========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================================
# 2. Build & Biên dịch
# ==========================================
dist/
build/
*.tsbuildinfo

# ==========================================
# 3. Environment Variables (Biến môi trường)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.staging
# (Lưu ý: Không đưa .env.example vào đây vì ta CẦN push file này lên để làm mẫu)

# ==========================================
# 4. Testing & Coverage
# ==========================================
coverage/
.nyc_output/

# ==========================================
# 5. OS Metadata (File hệ điều hành)
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
ehthumbs.db

# ==========================================
# 6. IDE & Editors (Công cụ lập trình)
# ==========================================
.idea/
.vscode/
*.swp
*.swo
.eslintcache

# ==========================================
# 7. Misc (Các file tạm khác)
# ==========================================
logs/
*.log